<!-- Contact Page -->
<section id="contact">
  <div class="container">
    <div class="blog_content">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="contact_form">
            <h3 class="title wow fadeInUp" data-wow-delay="0.2s">{{ content.field_title.0 }}</h3> 
              {{ content.field_enquiry_form1.0 }}  
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="contact_info">
            <h3 class="title wow fadeInUp" data-wow-delay="0.6s">{{ content.field_service_title_slogan.0 }}</h3>
              <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.8s">
                <div class="location">
                  <i class="fa fa-map-marker"></i>
                  <h4>{{ content.field_company_name.0 }}</h4>
                   {{ content.field_description.0 }}
                </div>
                <div class="phone">
                  <i class="fa fa-phone"></i>
                  {{ content.field_mobile_number }}
                </div>
                <div class="phone">
                  <i class="fa fa-fax"></i>
                  <p>{{ content.field_telephone_no.0 }}</p>
                </div>  
              </div>
          </div>
        </div>
     </div>      
      <div class="locations-list">  
        {{ content.field_contact_location_lists_ }}
      </div>
    </div>
  </div>
</section>
<!-- Contact Page End -->