{% if page.header and not logged_in %}
{{ attach_library('fleet_management_theme/front-style') }}
<header id="header" class="fixed-top" style="background: rgba(40, 58, 90)">
  <div class="container-fluid px-5 d-flex align-items-center">
    <h1 class="logo mr-auto"><a href="{{ url('<front>') }}">DIGIFLEET</a></h1>
    {{ page.header }}
    <div style="margin-left: 50px">
      <a href="{{ url('<front>') }}user/login" class="btn btn-success">login</a>
      <a href="{{ url('<front>') }}register/company" class="btn btn-primary"
        >Register</a
      >
  </div>
</header>
{% endif %} {% if page.content %}
<div class="container" style="margin-top:8%">
  <main id="main">
    <section class="pricing" id="pricing">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>Subscription</h2>
  
          <p>
            Manage every aspect of your fleet in efficient way<br />
            Tens of thousands of businesses save time and money by using
            DIGIFLEET<br />
            fast, simple, and affordable online software.
          </p>
        </div>
  
        <div class="row">
          <div
            class="col-lg-3 package_card"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="box">
              <h3>BRONZE</h3>
  
              <h4><sup>PKG</sup>0<span>per month</span></h4>
  
              <ul class="plist">
                <li><i class="bx bx-check"></i> view reports</li>
                <li>
                  <i class="bx bx-check"></i>Management of
                  <ul class="clist">
                    <li>Vehicle Details</li>
                    <li>Employee Details</li>
                    <li>Vehicle Allotment Details</li>
                    <li>Fuel Filling Details</li>
                  </ul>
                </li>
              </ul>
              <!-- <a class="buy-btn" id='' name='' href="register/company">Get Started With Register</a> -->
  
              <p>
                Free subscription for<br />
                2 vehicles only
              </p>
            </div>
          </div>
  
          <div
            class="col-lg-3 package_card mt-4 mt-lg-0"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="box featured">
              <h3>SILVER</h3>
  
              <h4><sup>PKG</sup>100<span>per month</span></h4>
  
              <ul class="plist">
                <li>
                  <i class="bx bx-check"></i>View Download and print reports
                </li>
                <li><i class="bx bx-check"></i>Bronze services</li>
                <li>
                  <i class="bx bx-check"></i>Management of
                  <ul class="clist">
                    <li>Branches and Departments</li>
                    <li>Vehicle Maintenance</li>
                    <li>Users and Security</li>
                  </ul>
                </li>
              </ul>
              <!-- <a class="buy-btn" id='btn-silver' name='btn-silver' href="register/company">Get Started</a> -->
  
              <p>Minimum 3 months subscription</p>
            </div>
          </div>
  
          <div
            class="col-lg-3 package_card mt-4 mt-lg-0"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="box">
              <h3>GOLD</h3>
  
              <h4><sup>PKG</sup>300<span>per month</span></h4>
  
              <ul class="plist">
                <li>
                  <i class="bx bx-check"></i>View Download and print reports
                </li>
                <li><i class="bx bx-check"></i>Silver services</li>
                <li>
                  <i class="bx bx-check"></i>Management of
                  <ul class="clist">
                    <li>Accident Monitoring</li>
                  </ul>
                </li>
              </ul>
              <!-- <a class="buy-btn" id='btn-gold' name='btn-gold' href="register/company">Get Started</a> -->
  
              <p>Minimum 6 months subscription</p>
            </div>
          </div>
  
          <div
            class="col-lg-3 package_card mt-4 mt-lg-0"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="box featured">
              <h3>PLATINUM</h3>
  
              <h4><sup>PKG</sup>500<span>per month</span></h4>
  
              <ul class="plist">
                <li>
                  <i class="bx bx-check"></i>View Download and print reports
                </li>
                <li><i class="bx bx-check"></i>Gold services</li>
                <li>
                  <i class="bx bx-check"></i>Management Of
                  <ul class="clist">
                    <li>Trip Logging</li>
                  </ul>
                </li>
              </ul>
              <!-- <a class="buy-btn" id='btn-platinum' name='btn-platinum' href="register/company">Get Started</a> -->
  
              <p>Minimum 12 months subscription</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center featured mt-5">
        <a class="buy-btn" id="" name="" href="register/company"
          >Register For Get Started </a
        >
      </div>
    </section>
  </main>
  
</div>
{% endif %}

<footer id="footer">
  {% if page.features_third and is_front %}
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          {{ page.features_third }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="footer-top">
    <div class="container">
      <div class="row">
        {% if page.bottom_first %}
        <div class="col-lg-4 col-md-6 footer-contact">
          {{ page.bottom_first }}
        </div>
        {% endif %} {% if page.bottom_second %}
        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Links</h4>
          {{ page.bottom_second }}
        </div>
        {% endif %}

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>
            Follow us on!!
          </p>
          <div class="social-links mt-3">
            <a href="{{ facebook_url }}" class="facebook"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a href="{{ instagram_url }}" class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a href="{{ linkedin_url }}" class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
            <a href="{{ twitter_url }}" class="twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-bottom clearfix">
    {% if page.footer_first %}
    {{ page.footer_first }}
    {% endif %} {% if page.footer_second %}
    {{ page.footer_second }}
    {% endif %}
  </div>
</footer>
